name: Swift Format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  swiftformat:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: Run Swift Format
      run: |
        FILES=$(git ls-files "*.swift")
        if [ -z "$FILES" ]; then
          echo "No Swift files to format."
          exit 0
        fi

        swift format --in-place --parallel $FILES
        if [[ `git status --porcelain` ]]; then
          echo "Swift format made changes. Failing the workflow."
          git diff
          exit 1
        else
          echo "Swift format check passed."
        fi
